`02_pandas/homework_dataframe_251120.ipynb` 파일에서 작업하세요. #64

## 사원데이터 실습문제 

다음 데이터를 활용해 실습문제를 해결하세요.
| Name    | Age | City           | Salary |
|---------|-----|----------------|--------|
| Alice   | 25  | New York       | 70000  |
| Bob     | 30  | Los Angeles    | 80000  |
| Charlie | 35  | Chicago        | 120000 |
| David   | 40  | Houston        | 90000  |
| Eve     | 28  | San Francisco  | 75000  |


**문제 1: DataFrame객체 생성**

위의 데이터를 사용해 DataFrame객체를 생성하세요.

**문제 2: 열과 행 선택**

- `Name`과 `City` 열을 선택하여 출력하세요.
- 나이가 30 이상인 행을 선택하여 출력하세요.

**문제 3: 행과 열 추가**

- `Country` 열을 추가하고, 모두 'USA'로 설정하세요.
- 새로운 행을 추가하세요. (Name: Frank, Age: 33, City: Seattle, Salary: 85000)

**문제 4: 데이터 삭제**

- `Salary` 열을 삭제하세요.
- 'David'가 있는 행을 삭제하세요.

**문제 5: 데이터 수정**

- `Age`가 35 이상인 사람들의 `Salary`를 5% 증가시키세요.
- 'Alice'의 `City`를 'Boston'으로 수정하세요.

**문제 6: 데이터 타입 변환**

- `Age`와 `Salary`의 데이터 타입을 float로 변환하세요.


## 타이타닉데이터 생존율 집계

<img width="590" height="382" alt="Image" src="https://github.com/user-attachments/assets/d139225b-2ac7-4111-955c-8bf4e5955f34" />

[타이타닉 데이터 설명](https://www.notion.so/shqkel/2b19cb46e5e281f0b469e9a4dcfe2c5f?source=copy_link)

DataFrame를 이용해 제공된 데이터에서 성별과 클래스별 생존율을 효과적으로 출력하세요.

[titanic.csv 다운로드](https://github.com/user-attachments/files/23649393/titanic.csv)